# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Python caches
python/src/controller/__pycache__/__init__.cpython-38.pyc
python/src/controller/__pycache__/amountcalculator.cpython-38.pyc
python/src/controller/__pycache__/assetmanager.cpython-38.pyc
python/src/controller/__pycache__/constants.cpython-38.pyc
python/src/controller/__pycache__/enumcontroller.cpython-38.pyc
python/src/controller/__pycache__/itemcontroller.cpython-38.pyc
python/src/controller/__pycache__/listmanager.cpython-38.pyc
python/src/controller/__pycache__/shoppinglistcontroller.cpython-38.pyc
python/src/controller/__pycache__/tasklistcontroller.cpython-38.pyc
python/src/storage/__pycache__/__init__.cpython-38.pyc
python/src/storage/__pycache__/persistance.cpython-38.pyc
python/test/__pycache__/testconstants.cpython-38.pyc

# test result files
python/test/test-out/current/*.json
python/test/test-out/*.json
python/test/test-out/recipe/*.json
python/test/test-out/tasklist/*.json
python/test/test-out/shoplist/*.json
python/test/test-out/item/*.json
python/test/test-out/item/*

# ignore the python copies in sfos
sfos/olive-goes-shopping/qml/controller/*/*
sfos/olive-goes-shopping/qml/storage/*


python/src/controller/__pycache__/folderitemcontroller.cpython-38.pyc
python/src/controller/__pycache__/itemtypecontroller.cpython-38.pyc
sfos/olive-goes-shopping-test/.qmake.stash
sfos/olive-goes-shopping-test/main.cpp
sfos/olive-goes-shopping-test/olive-goes-shopping-test.pro
sfos/olive-goes-shopping-test/runTests.sh
sfos/olive-goes-shopping-test/sfdk.out
sfos/olive-goes-shopping-test/TestOGSSettings.cpp
sfos/olive-goes-shopping-test/TestOGSSettings.h
sfos/olive-goes-shopping-test/tst_test.qml
sfos/ogs.pro
python/test/__pycache__/AssetManagerTest.cpython-38.pyc
python/test/__pycache__/EnumControllerTest.cpython-38.pyc
python/test/__pycache__/FolderItemControllerTest.cpython-38.pyc
python/test/__pycache__/ItemControllerTest.cpython-38.pyc
python/test/__pycache__/ItemTypeControllerTest.cpython-38.pyc
python/test/__pycache__/ListManagerTest.cpython-38.pyc
python/test/__pycache__/PersistanceTest.cpython-38.pyc
python/test/__pycache__/ShoppingListControllerTest.cpython-38.pyc
python/test/__pycache__/TaskListControllerTest.cpython-38.pyc
python/test/__pycache__/test_AmountCalculatorTest.cpython-38.pyc
.vscode/targets.log
.vscode/targets.log
